---
import Layout from '@layouts/Layout.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import Button from '@components/Button.astro'
import RankingTable from '@components/ranking/RankingTable.astro'
import { getRankingPage, getNroRankingPages } from '@utils/content/ranking'

const { currentPage } = Astro.params
const nroPage = currentPage ? parseInt(currentPage) : 1
const pagesLength = await getNroRankingPages()

const inIndex = nroPage >= 1 && nroPage <= pagesLength
if (!inIndex) {
  return Astro.redirect('/', '404')
}

const hasPrev = nroPage > 1
const hasNext = nroPage < pagesLength
const rankList = await getRankingPage(nroPage)
---

<Layout title="Juez Patito Reimagined">
  <Header />
  <main class="min-h-screen p-5 lg:p-10 lg:py-2">
    <section>
      <h1 class="text-center text-3xl lg:text-4xl font-bold mb-5 lg:mb-10">
        Ranking 🏆
      </h1>
      <RankingTable rankList={rankList} class="table-xs md:table-md" />
    </section>
    <div class="inline-flex justify-end px-4 gap-5 items-center w-full">
      <span class="mr-auto">
        {nroPage}
        de
        {pagesLength}
      </span>
      <div class="join">
        <Button
          disabled={!hasPrev}
          href={hasPrev ? `/content/ranking/${nroPage - 1}` : undefined}
          class="join-item btn btn-neutral"
          class:list={[{ 'btn-disabled': !hasPrev }]}>
          «
        </Button>
        <button class="join-item btn">{nroPage}</button>
        <Button
          disabled={!hasNext}
          href={hasNext ? `/content/ranking/${nroPage + 1}` : undefined}
          class="join-item btn btn-neutral"
          class:list={[{ 'btn-disabled': !hasNext }]}>
          »
        </Button>
      </div>
    </div>
  </main>
  <Footer />
</Layout>
