---
import Layout from '@layouts/Layout.astro'
import ThemeSelector from '@components/ThemeSelector.astro'
import Button from '@components/Button.astro'
import Footer from '@components/Footer.astro'
import { logIn, isLoggedIn } from '@utils/auth/login'

const isUserLogged = await isLoggedIn(Astro.cookies)
if (isUserLogged) {
  return Astro.redirect('/content/dashboard')
}

if (Astro.request.method === 'POST') {
  const formData = await Astro.request.formData()
  const loginResponse = await logIn(Astro.cookies, formData)
  if (!(loginResponse instanceof Error)) {
    return Astro.redirect('/content/dashboard')
  }
}
---

<Layout title="Juez Patito - Login">
  <header class="sticky bg-neutral top-0 navbar px-5 w-full">
    <a href="/" class="btn btn-sm btn-neutral border-2 border-neutral-content">
      Volver
    </a>
    <ThemeSelector classButton="btn-neutral" class="ml-auto" aling="end" />
  </header>
  <main
    class="min-h-screen w-full bg-base-100 grid md:grid-cols-[60%,_40%] lg:grid-cols-2 overflow-hidden">
    <section
      class="bg-base-100 p-6 sm:p-10 lg:px-24 xl:px-32 xl:py-16 flex flex-col md:justify-center">
      <div class="flex flex-col gap-2">
        <h2 class="font-bold text-4xl">Iniciar sesión</h2>
        <p class="text-lg">
          Bienvenido a Juez Patito, por favor inicia sesión para continuar.
        </p>
      </div>
      <form method="POST" class="form my-10">
        <div class="inputs-section mb-10">
          <div class="form-control">
            <label for="username" class="label">Nombre de usuario</label>
            <input
              type="text"
              id="username"
              name="username"
              class="input input-bordered"
              placeholder="Ej. eljuezpatito123"
              required
            />
          </div>
          <div class="form-control">
            <label for="password" class="label">Contraseña</label>
            <input
              type="password"
              id="password"
              name="password"
              class="input input-bordered"
              placeholder="********"
              required
            />
          </div>
        </div>
        <div class="buttons-section grid grid-cols-2 gap-5">
          <Button type="submit" class="btn btn-accent">Iniciar sesión</Button>
          <a href="/auth/register" class="btn btn-neutral">Regístrase</a>
        </div>
      </form>
      <span class="text-center">
        <a href="/auth/forgot-password" class="link"
          >¿Olvidaste tu contraseña?</a
        >
      </span>
    </section>
    <section
      class="container hidden md:block h-24 min-w-full md:h-full md:order-last">
    </section>
  </main>
  <Footer />
</Layout>

<style>
  .container {
    --s: 200px; /* control the size */
    --c: theme(colors.neutral-content); /* first color */

    --_g: #0000 8%, var(--c) 0 17%, #0000 0 58%;
    background:
      linear-gradient(135deg, #0000 20.5%, var(--c) 0 29.5%, #0000 0) 0
        calc(var(--s) / 4),
      linear-gradient(45deg, var(--_g)) calc(var(--s) / 2) 0,
      linear-gradient(135deg, var(--_g), var(--c) 0 67%, #0000 0),
      linear-gradient(
        45deg,
        var(--_g),
        var(--c) 0 67%,
        #0000 0 83%,
        var(--c) 0 92%,
        #0000 0
      ),
      theme(colors.neutral); /* second color */
    background-size: var(--s) var(--s);
  }
</style>
