---
import Layout from '@layouts/Layout.astro'
import HeroSection from '@components/home/HeroSection.astro'
import NavBar from '@components/NavBar.astro'
import Footer from '@components/Footer.astro'
---

<Layout title="Juez Patito Reimagined">
  <header class="sticky top-0 w-full z-50">
    <NavBar />
  </header>
  <main>
    <HeroSection />
  </main>
  <Footer />
</Layout>
