---
import Layout from '@layouts/Layout.astro'
import HeroSection from '@components/home/HeroSection.astro'
import NavBar from '@components/navigator/NavBar.astro'
import Banner from '@components/home/Banner.astro'
---

<Layout title="Welcome to Astro.">
  <header class="fixed w-full z-50">
    <NavBar />
    <Banner id="announcement-page-oficial">
      Esta es una página no oficial, visite la original en
      <a class="link" href="https://jv.umsa.bo/">jv.umsa.bo</a>
    </Banner>
  </header>
  <main class="px-5 md:px-10 lg:px-16">
    <HeroSection />
  </main>
</Layout>
