---
import SimpleLayout from '@/layouts/SimpleLayout.astro'
---

<SimpleLayout
  title="Juez Patito Reimagined - Noticias"
  description="Últimas noticias sobre cambios, actualizaciones y mejoras en Juez Patito Reimagined."
  keywords={['Noticias', 'Actualizaciones', 'Cambios']}>
  <h1>News</h1>
  <p>Coming soon...</p>
</SimpleLayout>
