---
import Button from '@components/Button.astro'
import { Image } from 'astro:assets'
import HeroImage from '@assets/images/hero-image.webp'
import Title from './Title.astro'
---

<section
  class="min-h-[max(90vh,_600px)] flex items-center relative lg:grid lg:grid-cols-2 lg:gap-10 lg:px-14">
  <div
    class="flex flex-col w-full gap-10 items-center px-5 md:px-10 lg:items-start lg:px-0">
    <Title />
    <p
      class="text-center max-w-[40ch] md:text-xl md:max-w-[50ch] lg:text-2xl lg:text-start xl:max-w-[32ch]">
      Una plataforma académica abierta a todo público con problemas de
      programación para aprender, mejorar y demostrar tus habilidades
    </p>
    <div
      class="action-section flex justify-center gap-10 md:gap-20 lg:justify-start lg:gap-10">
      <Button
        icon="arrow-circle-up-right"
        href="/auth/register"
        class="btn btn-accent md:btn-lg">
        Comenzar ahora
      </Button>
      <Button
        icon="dice-five"
        href="/problems/random"
        class="btn btn-secondary md:btn-lg">
        Random
      </Button>
    </div>
  </div>
  <div
    class="absolute left-0 top-0 -z-10 w-full h-full flex items-center lg:static">
    <div
      class="h-full lg:h-[90%] w-full flex justify-center items-center opacity-40 lg:bg-base-200 lg:opacity-100 relative lg:rounded-lg overflow-hidden glass">
      <Image
        src={HeroImage}
        alt="Hero Image"
        class="w-full h-full object-cover"
      />
    </div>
  </div>
</section>

<style>
  @media (max-width: theme('screens.lg')) {
    .glass::after {
      content: '';
      position: absolute;
      background: rgba(0, 0, 0, 0.4);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      z-index: 500;
    }
  }
</style>
