<h2
  class="text-5xl text-center font-bold max-w-[12ch] md:text-6xl lg:text-start xl:text-7xl">
  <span>Programa y</span>
  <span class="inline-block">
    pon tu
    <span
      class="text-4xl inline-flex bg-base-300 rounded-md p-1 font-victor-mono font-bold md:text-5xl lg:text-6xl">
      <font class="text-error">Có</font>
      <font class="text-warning">di</font>
      <font class="text-success">go</font>
    </span>
  </span>
  <span class="inline-block">
    a <span class="inline-block text-primary">jucio</span>
  </span>
</h2>
