---
const Alings = {
  left: 'dropdown-left',
  right: 'dropdown-right',
  bottom: 'dropdown-bottom',
  top: 'dropdown-top',
  end: 'dropdown-end',
  default: false,
} as const

const Modifiers = {
  hover: 'dropdown-hover',
  open: 'dropdown-open',
  default: false,
} as const

interface Props {
  class?: string
  'class-button'?: string
  'class-content'?: string
  aling?: keyof typeof Alings
  modifier?: keyof typeof Modifiers
}

const {
  class: className,
  'class-button': classButton,
  'class-content': classContent,
  aling,
  modifier,
} = Astro.props
---

<div
  class="dropdown"
  class:list={[
    className,
    Alings[aling || 'default'],
    Modifiers[modifier || 'default'],
  ]}>
  <div tabindex="0" role="button" class:list={[classButton]}>
    <slot name="dropdown-button" />
  </div>
  <div
    class="dropdown-content z-[1] shadow bg-base-100 rounded-box w-56"
    class:list={[classContent]}>
    <slot />
  </div>
</div>
