---
import Logo from '@components/Logo'
---

<footer class="footer px-10 py-4 bg-neutral text-neutral-content">
  <aside class="items-center grid-flow-col">
    <Logo client:load circle className="w-10 h-10" />
    <p>Juez Patito Reimagined<br />Una reconstrucción Front-End</p>
  </aside>
  <nav class="md:place-self-center md:justify-self-end">
    <!-- Opcioens -->
  </nav>
</footer>
