---
interface Props {
  abbreviated?: boolean
  responsive?: boolean
  class?: string
}
const {
  abbreviated = false,
  responsive = false,
  class: className,
} = Astro.props

const name = ['JueZ', 'PAtito']
const decoration = ['ReiMAGined']
---

<span
  class="font-major-mono inline-flex logo-txt -tracking-wider"
  class:list={[
    className,
    {
      'md:flex-col': responsive,
    },
  ]}>
  <span
    class="name inline-flex"
    class:list={[
      {
        'gap-0 md:gap-2': responsive,
      },
    ]}>
    {
      name.map((n) => {
        return (
          <span class="inline-flex">
            <span>{n.charAt(0)}</span>
            <span
              class="inline-block m-0 p-0"
              class:list={[
                {
                  hidden: abbreviated,
                },
                {
                  'hidden md:inline': responsive,
                },
              ]}>
              {n.slice(1).trim()}
            </span>
          </span>
        )
      })
    }
  </span>
  <span
    class="rainbow decorator"
    class:list={[
      {
        'gap-2': abbreviated,
        'gap-0 md:gap-2': responsive,
      },
    ]}>
    {
      decoration.map((d) => {
        return (
          <span class="inline-flex">
            <span>{d.charAt(0)}</span>
            <span
              class="inline-block m-0 p-0"
              class:list={[
                {
                  hidden: abbreviated,
                },
                {
                  'hidden md:inline': responsive,
                },
              ]}>
              {d.slice(1).trim()}
            </span>
          </span>
        )
      })
    }
  </span>
</span>

<style>
  .rainbow {
    color: transparent;
    background-image: linear-gradient(
      90deg,
      theme('colors.error'),
      theme('colors.success'),
      theme('colors.info'),
      theme('colors.warning'),
      theme('colors.error')
    );
    background-size: 200%;
    background-clip: text;
    animation: rainbow 5s linear infinite;
  }

  @keyframes rainbow {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }
</style>
