---
import Layout from '@layouts/Layout.astro'
import { isLoggedIn } from '@utils/auth/login'

const isUserLogged = await isLoggedIn(Astro.cookies)
if (!isUserLogged) {
  return Astro.redirect('/auth/login')
}
---

<Layout title="Juez Patito - Login">
  <main>
    <h2>Dashboard</h2>
  </main>
</Layout>
