---
import Layout from '@layouts/Layout.astro'
import NavBar from '@components/NavBar.astro'
---

<Layout title="Juez Patito - Login">
  <header>
    <NavBar />
  </header>
  <main>
    <h2>Problemas</h2>
  </main>
</Layout>
