---
import Logo from '@components/Logo.tsx'
---

<a href="/" class="flex gap-2 lg:gap-4 select-none items-center">
  <Logo client:load circle className="w-12 h-12 md:w-16 md:h-16" />
  <span class="font-major-mono text-2xl md:text-lg flex items-center">
    <span class="md:hidden">JP<span class="rainbow-text">R</span></span>
    <span class="hidden md:flex flex-col">
      <span class="w-max">JueZ PAtito</span>
      <span class="rainbow-text font-extrabold opacity-100">ReiMAGined</span>
    </span>
    <span></span>
  </span>
</a>

<style>
  .rainbow-text {
    color: transparent;
    background-image: linear-gradient(
      90deg,
      theme('colors.error'),
      theme('colors.success'),
      theme('colors.info'),
      theme('colors.warning'),
      theme('colors.error')
    );
    background-size: 200%;
    background-clip: text;
    animation: rainbow 5s linear infinite;
  }

  @keyframes rainbow {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }
</style>
