---
import { List, GithubLogo } from '@phosphor-icons/react'
import LogoSection from './LogoSection.astro'
import ThemeSelector from './ThemeSelector.tsx'
import NavDrawer from './NavDrawer.astro'
import NavOptions from './NavOptions.astro'

const navDrawerId = 'nav-drawer'
---

<nav
  class="navbar bg-base-100 px-5 border-b-2 border-b-neutral drawer drawer-end">
  <div class="navbar-start gap-5">
    <LogoSection />
  </div>
  <div class="navbar-center hidden lg:flex">
    <NavOptions />
  </div>
  <div class="navbar-end drawer-content gap-1 lg:gap-2">
    <a
      href="https://github.com/RepolloDev/Juez-Patito-Reimagined"
      target="_blank"
      class="btn btn-sm btn-ghost btn-circle"
      ><GithubLogo size={24} className="w-5 lg:w-10" />
    </a>
    <ThemeSelector client:load />
    <a
      href="/auth/login"
      class="hidden btn btn-neutral btn-sm btn-outline lg:flex">
      Iniciar sesión
    </a>
    <a href="/auth/register" class="hidden btn btn-accent btn-sm lg:flex">
      Registrarse
    </a>
    <label
      for={navDrawerId}
      aria-label="open sidebar"
      class="btn btn-sm lg:hidden"><List size={24} className="w-5" /></label
    >
  </div>
  <NavDrawer id={navDrawerId} />
</nav>
