---
import {
  Question,
  Sparkle,
  X,
  Code,
  Confetti,
  House,
  PaperPlaneTilt,
  Ranking,
  DotsThreeCircle,
  Package,
} from '@phosphor-icons/react'
import Logo from './LogoSection.astro'
interface Props {
  id: string
}

const { id } = Astro.props
---

<div>
  <input id={id} type="checkbox" class="drawer-toggle" />
  <div class="drawer-side">
    <label for={id} aria-label="close sidebar" class="drawer-overlay"></label>
    <div class="p-4 w-72 md:w-96 min-h-full bg-base-200">
      <div class="flex justify-center items-center">
        <Logo />
        <label for={id} class="ml-auto btn btn-sm btn-ghost btn-circle"
          ><X size={24} className="w-5" /></label
        >
      </div>
      <ul class="menu">
        <li>
          <a>
            <House size={16} className="w-5 inline-block" />
            Inicio</a
          >
        </li>
        <!-- Sidebar content here -->
        <li>
          <div tabindex="0" class="collapse collapse-plus gap-0">
            <input type="checkbox" class="w-full" />
            <div class="collapse-title">
              <Package size={16} className="w-5 inline-block" />
              Contenido
            </div>
            <div class="collapse-content p-0 w-full">
              <ul class="menu w-full">
                <li>
                  <a>
                    <Confetti size={16} className="w-5 inline-block" />
                    Concursos
                  </a>
                </li>
                <li>
                  <a>
                    <Code size={16} className="w-5 inline-block" />
                    Problemas
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <a>
            <Ranking size={16} className="w-5 inline-block" />
            Ranking
          </a>
        </li>
        <li>
          <div tabindex="0" class="collapse collapse-plus gap-0">
            <input type="checkbox" />
            <div class="collapse-title">
              <DotsThreeCircle size={16} className="w-5 inline-block" />
              Más
            </div>
            <div class="collapse-content p-0 w-full">
              <ul tabindex="0" class="menu w-full">
                <li>
                  <a>
                    <PaperPlaneTilt size={16} className="w-5 inline-block" />
                    Envios</a
                  >
                </li>
                <li>
                  <a>
                    <Question size={16} className="w-5 inline-block mr-2" />
                    Preguntas frecuentes
                  </a>
                </li>
                <li>
                  <a>
                    <Sparkle size={16} className="w-5 inline-block mr-2" />
                    <span>
                      Acerca de <b class="font-major-mono">JPR</b>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
      <hr class="border-neutral my-4" />
      <div class="flex flex-col gap-2">
        <a href="/auth/login" class="btn btn-neutral btn-outline btn-block"
          >Iniciar sesión</a
        >
        <a href="/auth/register" class="btn btn-accent btn-block">Registrarse</a
        >
      </div>
    </div>
  </div>
</div>

<style>
  .menu > li > div {
    margin: 0;
    padding: 0;

    &:hover {
      background-color: theme('colors.base-200');
      color: theme('colors.base-content');
    }
  }
</style>
