---
import {
  CaretRight,
  Question,
  Sparkle,
  X,
  Code,
  Confetti,
  House,
  PaperPlaneTilt,
  Ranking,
  DotsThreeCircle,
  Package,
} from '@phosphor-icons/react'
---

<ul class="flex">
  <li>
    <a class="btn btn-ghost" href="/">
      <House size={16} className="w-5 inline-block" />
      Inicio</a
    >
  </li>
  <li>
    <div class="dropdown dropdown-hover group">
      <div
        tabindex="0"
        role="button"
        class="flex gap-2 items-center btn btn-ghost">
        <Package size={16} className="w-5 inline-block" />
        <span>
          Contenido
          <CaretRight
            size={16}
            className="w-5 inline-block group-hover:rotate-90 transition-all"
          />
        </span>
      </div>
      <ul
        tabindex="0"
        class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
        <li>
          <a>
            <Confetti size={16} className="w-5 inline-block mr-2" />
            Concursos
          </a>
        </li>
        <li>
          <a>
            <Code size={16} className="w-5 inline-block mr-2" />
            Problemas</a
          >
        </li>
      </ul>
    </div>
  </li>
  <li>
    <a class="btn btn-ghost" href="/problems">
      <Ranking size={16} className="w-5 inline-block" />
      Ranking</a
    >
  </li>
  <li>
    <div class="dropdown dropdown-hover group">
      <div
        tabindex="0"
        role="button"
        class="flex items-center gap-2 btn btn-ghost">
        <DotsThreeCircle size={16} className="w-5 inline-block" />
        <span>
          Más
          <CaretRight
            size={16}
            className="w-5 inline-block group-hover:rotate-90 transition-all"
          />
        </span>
      </div>
      <ul
        tabindex="0"
        class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-64">
        <li>
          <a>
            <PaperPlaneTilt size={16} className="w-5 inline-block" />
            Envios</a
          >
        </li>
        <li>
          <a>
            <Question size={16} className="w-5 inline-block mr-2" />
            Preguntas frecuentes
          </a>
        </li>
        <li>
          <a>
            <Sparkle size={16} className="w-5 inline-block mr-2" />
            <span>
              Acerca de <b class="font-major-mono">JPR</b>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </li>
</ul>
